button {
  margin: 1em 0;
}


.matchup {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.team {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.team:first-of-type {
  justify-self: start;
}

.team:last-of-type {
  justify-self: end;
}

.team-logo {
  width: 3em;
  height: 3em;
  object-fit: cover
}

.vs {
  justify-self: center;
}
