.team-image {
  width: 3em;
  height: 3em;
  object-fit: cover;
}

button {
  margin: 1em 0;
}

.mat-column-logo {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
