.player-card {
  max-width: 600px;

  mat-card-header {
    padding: 2em;

    mat-card-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 4px;
    }
  }

  mat-card-content {
    p {
      margin: 1em 0;
    }
  }

  mat-card-actions {
    gap: 8px;
    padding: 16px;
    border-top: 1px solid gray;
  }
}
