.form-card {
  width: 100%;
  max-width: 600px;

  mat-card-header {
    mat-card-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 4px;
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .mdc-text-field--filled {
    background-color: var(--mat-sys-surface-container-highest);
  }

  mat-card-actions {
    gap: 8px;
    padding: 16px;
    border-top: 1px solid gray;
  }
}

.player-card {
  max-width: 600px;

  mat-card-header {
    padding: 2em;

    mat-card-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 4px;
    }
  }

  mat-card-content {
    p {
      margin: 1em 0;
    }
  }

  mat-card-actions {
    gap: 8px;
    padding: 16px;
    border-top: 1px solid gray;
  }
}
