<mat-card class="form-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-subtitle>Sign in</mat-card-subtitle>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        } @else if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Email must have &#64;</mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        } @else if (loginForm.get('password')?.hasError('minlength')) {
        <mat-error>Password must be at least 6 characters long.</mat-error>
        }
      </mat-form-field>

      <mat-card-actions>
        <!-- Login -->
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>

        <!-- Register -->
        <button mat-button type="button" (click)="router.navigateByUrl('/register')">
          Don't have an account? Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
